body {
    background-color:rgb(201, 201, 201)
}
h2 { 
    @import url('https://fonts.googleapis.com/css2?family=Chewy&family=Titan+One&family=Zen+Kaku+Gothic+Antique:wght@900&display=swap');
    font-size: 40px;
    color:#6699CC;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
h3 {
    @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
    font-size: 30px;
    color: #6699CC;
    font-family: 'Chewy', cursive;
}
th {
    @import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
    color: blue;
    font-family: 'Shippori Antique', sans-serif;
}
td {
    @import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
    color: blueviolet;
    font-family: 'Shippori Antique', sans-serif;
}